<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add Announcement</title>
</head>
<body>
<h2>Add Announcement</h2>
<form th:action="@{/add}" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="Work Search">Work Search</option>
        <option value="Work Offer">Work Offer</option>
        <option value="Sale">Sale</option>
        <option value="Purchase">Purchase</option>
    </select><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br>

    <label for="file1">Preview Image</label>
    <input type="file" id="file1" name="imageFile1"><br>

    <label for="file2">Second Image</label>
    <input type="file" id="file2" name="imageFile2"><br>

    <label for="file3">Third Image</label>
    <input type="file" id="file3" name="imageFile3"><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>

    <button type="submit">Add Announcement</button>
</form>
<form th:action="@{/}" method="get">
    <button type="submit">Turn Back</button>
</form>
</body>
</html>
