<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Main Page</title>
</head>
<body>
<div style="display: flex">
    <a th:if="${user.email == null}" th:href="@{/login}">
        <button type="submit">Log in</button>
    </a>
    <form th:if="${user.email != null}" th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
    </form>
    <p th:if="${user.email != null}">Current User:
        <a th:href="@{'/user/' + ${user.id}}">
            <span th:text="${user.name + ' ' + user.surname}"></span>
        </a>
    </p>
    <a th:if="${user.isAdmin()}" th:href="@{/admin}">
        <button type="submit">Admin Panel</button>
    </a>
</div>
<form th:action="@{/}">
    <label for="title">Search by Title:</label>
    <input type="text" id="title" name="title" th:value="${title}"/>
    <button type="submit">Search</button>
</form>
<div style="display: flex">
    <form th:action="@{'/filter/Work Offer'}" method="get">
        <button type="submit">Filter Work Offers</button>
    </form>
    <form th:action="@{'/filter/Work Search'}" method="get">
        <button type="submit">Filter Work Searches</button>
    </form>
    <form th:action="@{'/filter/Purchase'}" method="get">
        <button type="submit">Filter Purchases</button>
    </form>
    <form th:action="@{'/filter/Sale'}" method="get">
        <button type="submit">Filter Sales</button>
    </form>
    <form th:action="@{/}" method="get">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort">
            <option value="priceAscending">Price: Low to High</option>
            <option value="priceDescending">Price: High to Low</option>
            <option value="dateAscending">Date: Old to New</option>
            <option value="dateDescending">Date: New to Old</option>
        </select>
        <button type="submit">Sort</button>
    </form>
</div>
<table>
    <thead>
    <tr th:if="${#lists.isEmpty(announcements)}">
        <th>No announcements available</th>
    </tr>
    <tr th:unless="${#lists.isEmpty(announcements)}">
        <th>Title</th>
        <th>Category</th>
        <th>City</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="announcement : ${announcements}">
        <td th:text="${announcement.title}"></td>
        <td th:text="${announcement.category}"></td>
        <td th:text="${announcement.city}"></td>
        <td th:text="${announcement.description}"></td>
        <td>
            <form th:action="@{'/details/' + ${announcement.id}}" method="get">
                <button type="submit">Details</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/add}">
    <button type="submit">Add Announcement</button>
</a>
</body>
</html>
