<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration Page</title>
</head>
<body>
<h4>Registration</h4>
<form th:action="@{/registration}" method="post">
    <label for="firstname">First Name:</label>
    <input id="firstname" type="text" name="name" required><br><br>

    <label for="surname">Surname:</label>
    <input id="surname" type="text" name="surname" required><br><br>

    <label for="email">Email:</label>
    <input id="email" type="text" name="email" required><br><br>

    <label for="password">Password:</label>
    <input id="password" type="text" name="password" required><br><br>

    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
    <button type="submit">Register</button>
</form>
<form th:action="@{/}">
    <button type="submit">To Main Page</button>
</form>
</body>
</html>